<%= form_for(@doctor) do |f| %>
  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% @doctor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :qualification %><br />
    <%= f.text_area :qualification %>
  </div>
  <div class="field">
    <%= f.label :specialist %><br />
    <%= f.text_field :specialist %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
