<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @doctor.name %>
</p>

<p>
  <b>Qualification:</b>
  <%= @doctor.qualification %>
</p>

<p>
  <b>Specialist:</b>
  <%= @doctor.specialist %>
</p>


<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>


   <% @patients.each do |patient| %>
     <p>
       <span><%= patient.created_at %> </span>
       <span> Patient: </span>
     </p>     
       <p>
         <%= patient.name %>
          <%= patient.age %>
           <%= patient.gender %>
            <%= patient.disease %>
            
             
       </p>

     <% end %>
      
