<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @doctor.name %>
</p>

 <p>
    <%= image_tag @doctor.attachments.first.photo.url(:medium) if @doctor.attachments.present? %>
 </p>

<p>
  <b>Qualification:</b>
  <%= @doctor.qualification %>
</p>

<p>
  <b>Specialist:</b>
  <%= @doctor.specialist %>
</p>


<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>


 
<%= @doctor.patients.count %>      
<% @doctor.patients.each do |patient| %>
   
    <p>
     <span> <b> patient:</b></span>
     <%= patient.name %>
     <%= patient.age %>
     <%= patient.gender %>
     <%= patient.disease %> 
    </p>
     <%= image_tag patient.attachments.first.photo.url(:thumb) if patient.attachments.present? %>
<% end %>
</p>
