<!DOCTYPE html>
<html>
<head>
  <title>ManagemEnt</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>


   <div id="container">
     <div id="user_nav">
        <% if user_signed_in? %>
         
          <%= link_to "sign out", destroy_user_session_path, method: :delete %>
         <% else %> 
           <%= link_to "sign up", new_user_registration_path %> or <%= link_to "sign in ", new_user_session_path %>
           <% end %>
         </div>
      </div>

<%= yield %>
  
</body>
</html>
